<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/js.js" ></script>
    <link rel="stylesheet" href="/css/css.css" type="text/css" />
    <title>Extension Site</title>
</head>
<body>
<div id = "wrapper">
    <div>
        고정확장자
        <span id = "fix"></span><br>
        커스텀확장자 <input type="text" id="content" placeholder="확장자 입력" maxlength="20">
        <button onclick="variableAdd()">추가</button><br>
            <div id = "box">
                <span id = "count"></span><br>
                <span id ="variable"> </span>
            </div>
    </div>
</div>
</body>
</html>